.div2 {
    display: flex;
    margin: auto;
    margin-top: 2%;
    padding: 5px;
    width: 700px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid grey;
  outline-style: outset;
  outline-color: grey;
}
.p1{
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
}
.p2{
    font-size: 15px;
    font-style: normal;
}